<h1>New Game</h1>


<style>

.container {
  display: flex;
  justify-content: space-evenly;
}

.letter {
  border: 5px outset red;
  background-color: lightblue;
  text-align: center;
  margin: 6px, 6px;
}
</style>

<div class= "container">
  <% @letters.each do |letter| %>
    <div class="letter"> <%= letter %> </div>
  <% end %>


  <div class= "button">
    <form action="/score" method="post">
    <input type="text" name="userput">
    <input type="submit" value="Calculate your Score!">
    </form>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  </div>
</div>

<